/* width */

.w-18p {
  width: 18%;
}

.w-80p {
  width: 80%;
}

/* footer */
.footer-bg {
  background-color: hsl(from var(--footer-bg) h s l);
}

/* hover */

.card-img-top:hover {
  opacity: 0.5;
}

.hover:hover {
  opacity: 0.5;
}