/* width */

.w-18p {
  width: 18%;
}

.w-80p {
  width: 80%;
}

.w-130 {
  width: 130px;
}

@media (max-width: 992px) {
  .w-130 {
    width: auto;
  }
}

@media (max-width: 992px) {
  .w-sm-75 {
    width: 70% !important;
  }
}

.w-25-75 {
  width: 25%;
}

@media (max-width: 992px) {
  .w-25-75 {
    width: 75%;
  }
}

.column-c-2 {
  column-count: 2;
}

@media (max-width: 992px) {
  .column-c-2 {
    column-count: 1 !important;
  }
}

.column-c-4 {
  column-count: 4;
}

@media (max-width: 992px) {
  .column-c-4 {
    column-count: 1 !important;
  }
}

.column-c-6 {
  column-count: 6;
}

@media (max-width: 992px) {
  .column-c-6 {
    column-count: 1 !important;
  }
}

/* footer */
.footer-bg {
  background-color: hsl(from var(--footer-bg) h s l);
}

/* hover */

.card-img-top:hover {
  opacity: 0.5;
}

.hover:hover {
  opacity: 0.5;
}

/* border */

.bottom-2.active {
  border-bottom: 2px solid;
}