:root {
 --base-color: hsl(258 89.5 66.3);  /* #8a5cf6 */
 --accent-color: hsl(51 100 50);  /* #ffd700 */
 --footer-bg: hsl(0 0 12.2);
}

[data-bs-theme="light"] {
  --footer-bg: #e9e9e9; /* Dark mode */
}

/* body {
    background-color: hsl(from var(--footer-bg) h s l);
} */

.bg-base {
  background: hsl(from var(--base-color) h s l);
  color: hsl(from var(--accent-color) h s l);
}

/* .btn-base {
  --bs-btn-font-weight: 600;
  --bs-btn-color: hsl(from var(--accent-bg) h s l);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
} */