/* body {
  font-family: "Noto Sans TC", sans-serif;
} */

/* 初始透明樣式 */
/* .transparent-navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  backdrop-filter: none;
  box-shadow: none;
} */

/* 滾動後套用的樣式 */
/* .navbar-scrolled {
  background-color: var(--bs-body-bg);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
} */



